@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");


*, *::before, *::after{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Poppins", sans-serif;
}

::selection {
   background-color: #0b372dbb;
}

.logo {
   width: 40px;
}

header {
   width: 100%;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   position: absolute;
   z-index: 9999;
   top: 0;
   left: 0;
}

header nav {
   /* background-color: rgb(27, 40, 40); */
   /* max-width: 1400px; */
   max-width: 95%;
   margin: 0 auto;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header ul {
   display: flex;
   list-style: none;
   align-items: center;
}

header ul a {
   text-decoration: none;
   color: aliceblue;
   padding: 0 1.5rem;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 0.8rem;
}

.search a {
   font-size: 1.05rem;
   /* padding: 0 3rem; */
}

.hamburger {
   padding-left: 1.5rem;
}
.hamburger a {
   padding: 0;
   width: 37px;
   height: 37px;
   display: flex;
   border-radius: 50%;
   background-color: rgba(115,115, 115, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   justify-content: center;
   align-items: center;
}

.hamburger .bar{
   position: relative;
   width: 52%;
   height: 1.3px;
   background-color: #fff;
   border-radius: 2px;
}

.hamburger .bar::before, 
.hamburger .bar::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 60%;
   height: 100%;
   background-color: inherit;
   border-radius: 2px;
}

.hamburger .bar::before {
   top: -4.5px;
}
.hamburger .bar::after {
   top: 4.5px;
}








main {
   position: relative;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   height: 100vh;
}

.parallax {
   pointer-events: none;
   transition: 0.45s cubic-bezier(0.2,0.49,0.32,0.99);
   /* transform: translate(-50%,-50%); */
}


.bg-img{
   position: absolute;
   width: max-content;
   top: 10%;
   left: 50%;
   z-index: 1;
}

.fog-7{
   z-index: 2;
   position: absolute;
   width: 1900px;
   top: calc(50%-100px);
   left: calc(50%+300px);
   
}

.mountain-10{
   z-index: 3;
   position: absolute;
   width: 892px;
   top: 65%;
   left: 70%;
   
}
.mountain-10a{
   z-index: 3;
   position: absolute;
   width: 592px;
   top: 65%;
   left: 85%;
   
}
.mountain-10b{
   z-index: 3;
   position: absolute;
   width: 692px;
   top: 65%;
   left: 100%;
   
}


.fog-6{
   z-index: 4;
   position: absolute;
   width: 1610px;
   top: 95%;
   left: 80%;
   
}

.mountain-9{
   z-index: 5;
   position: absolute;
   width: 472px;
   /* top: calc(50% +113px);
   left: calc(50% -457px); */
   top: 65%;
   left: 55%;
   
}
.mountain-9a{
   z-index: 5;
   position: absolute;
   width: 272px;
   /* top: calc(50% +113px);
   left: calc(50% -457px); */
   top: 65%;
   left: 32%;
   
}
.mountain-8{
   z-index: 6;
   position: absolute;
   width: 810px;
   top: 80%;
   left: 35%;
   
}

.fog-5{
   z-index: 7;
   position: absolute;
   width: 450px;
   /* top: calc(50%+160px);
   left: calc(50%+230px); */
   top: 40%;
   left: 90%;
   
}

.mountain-7{
   z-index: 7;
   position: absolute;
   width: 468px;
   top: 60%;
   left: 0%;
   
}
.mountain-7a{
   z-index: 5;
   position: absolute;
   width: 268px;
   top: 70%;
   left: 25%;
   
}
.mountain-7b{
   z-index: 5;
   position: absolute;
   width: 258px;
   top: 50%;
   left: 15%;
   
}
.mountain-7c{
   z-index: 4;
   position: absolute;
   width: 468px;
   top: 40%;
   left: 35%;
   
}

.text {
   max-width: 80vw;
   position: absolute;
   z-index: 5;
   top: 28%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   text-transform: uppercase;
   color: #fff;
}

.text h2 {
   font-weight: 100;
   font-size: 6.5rem;
   line-height: 0.88;
}

.text h1 {
   font-weight: 800;
   font-size: 8rem;
   line-height: 0.88;
}





.mountain-6a{
   z-index: 10;
   position: absolute;
   width: 708px;
   top: 93%;
   left: 94%;
}

.mountain-6{
   z-index: 10;
   position: absolute;
   width: 408px;
   top: 92%;
   left: 94%;
}

.fog-4{
   z-index: 11;
   position: absolute;
   width: 590px;
   top: 90%;
   left: 60%;
   
}

.mountain-5{
   z-index: 12;
   position: absolute;
   width: 825px;
   top: 95%;
   left: 65%;
   
}

.fog-3{
   z-index: 13;
   position: absolute;
   width: 1600px;
   top: 80%;
   left: 50%;
   
}

.mountain-4{
   z-index: 10;
   position: absolute;
   width: 885px;
   top: 95%;
   left: 35%;
   
}
.mountain-3{
   z-index: 15;
   position: absolute;
   width: 585px;
   top: 95%;
   left: 38%;
   
}
.fog-2{
   z-index: 16;
   position: absolute;
   width: 600px;
   top: 100%;
   left: 50%;
   
}
.mountain-2{
   z-index: 17;
   position: absolute;
   width: 785px;
   top: 90%;
   left: 10%;
   
}
.mountain-1{
   z-index: 16;
   position: absolute;
   width: 585px;
   top: 90%;
   left: 20%;
   
}

/* .sun-rays {
   position: relative;
   z-index: 19;
   top:0;
   left:80%;
   width: 595px;
   pointer-events: none;
   
} */

.black-shadow {
   pointer-events: none;
   position: absolute;
   z-index: 20;
   bottom: 0;
   right: 0;
   width: 100%;
}


.fog-1{
   z-index: 21;
   position: absolute;
   width: 1600px;
   top: 90%;
   left: 100%;
} 


.vignette {
   position: absolute;
   z-index: 100;
   width: 100%;
   height:100%;
   top:0;
   left:0;
   background-color: radial-gradient(ellipse at center, 
      rgba(0, 0, 0, 0) 65%, 
      rgba(0, 0, 0, 0.7)
   );
   pointer-events: none;
}



/* Media queries for responsiveness */

@media (max-width: 768px) {
   /* Adjust the top positioning for smaller screens */
   .text {
     top: 40%;
   }
   
   .text h2 {
     font-size: 5rem;
   }
 
   .text h1 {
     font-size: 6rem;
   }
 }
 
 @media (max-width: 480px) {
   /* Further adjustments for smaller screens */
   .text {
     top: 40%;
   }
   
   .text h2 {
     font-size: 2rem;
   }
 
   .text h1 {
     font-size: 3rem;
   }

   .mountain-4{
      width: 165px;
      top: 95%;
      left: 50%;
      
   }
   .mountain-2{
      width: 165px;
      top: 90%;
      left: 10%; 
   }
   .mountain-3{
      width: 365px;
      top: 70%;
      left: 90%; 
   }
   .mountain-5{
      width: 365px;
      top: 80%;
      left: 50%; 
   }
   .mountain-6{
      width: 365px;
      top: 80%;
      left: 90%; 
   }
   .mountain-8{
      /* width: 365px; */
      top: 90%;
      left: 50%; 
   }
 }