html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 180, 200);
}

.container {
  /* display: flex; */
  position: relative;
}


.windmill {
  position: relative;

  
}

.windmillBase {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  
}

.rotateContainer {
  position: relative;
  width: 100px;
  height: 100px;
}

.rotatingObject {
  width: 100px; 
  height: 4px;
  background-color: #333; 
  position: absolute;
  top: -20%; 
  left: -50%;
  transform-origin: center; 
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



